[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mininet = "~=2.3.0.dev6"
pyserde = "~=0.7.0"
pyyaml = "~=6.0"
loguru = "~=0.6.0"
ryu = "~=4.34"

[dev-packages]
black = "~=22.1.0"
pre-commit = "~=2.17.0"

[requires]
python_version = "3.8"
